/**
 * LAYOUT
 */

.section {
  @include media-breakpoint-up(md) {
    padding-bottom: $p-huge * 2;
    padding-top: $p-huge * 2;
  }
  padding-bottom: $p-huge;
  padding-top: $p-huge;

  & + & {
    padding-top: 0;
  }
}

.container {
  @include media-breakpoint-up(md) {
    padding-left: $w-gutter;
    padding-right: $w-gutter;
  }
  background-color: $bgc-container;
  margin: 0 auto;
  max-width: $mwi-container;
  padding-left: $w-gutter / 2;
  padding-right: $w-gutter / 2;
  width: 100%;
}

.container-medium {
  @include media-breakpoint-up(md) {
    padding-left: $w-gutter;
    padding-right: $w-gutter;
  }
  margin: 0 auto;
  max-width: $mwi-container-medium;
  padding-left: $w-gutter / 2;
  padding-right: $w-gutter / 2;
}

.container-small {
  @include media-breakpoint-up(md) {
    padding-left: $w-gutter;
    padding-right: $w-gutter;
  }
  margin: 0 auto;
  max-width: $mwi-container-small;
  padding-left: $w-gutter / 2;
  padding-right: $w-gutter / 2;
}
