@mixin hidden($important: false) {
	@if ($important) {
		display: none !important;
		visibility: hidden !important;
	} @else {
		display: none;
		visibility: hidden;
	}
}

@mixin shown($inline: false, $type: top) {
	@if ($inline) {
		@include inblock($type);
	} @else {
		display: block;
	}

	visibility: visible;
}

@mixin visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		position: static;
		overflow: visible;
		margin: 0;
		width: auto;
		height: auto;
	}
}

@mixin visuallyshown {
	clip: auto;
	clip: rect(auto auto auto auto);
	position: static;
	overflow: visible;
	margin: 0;
	width: auto;
	height: auto;
}

@mixin invisible {
	visibility: hidden;
}