$emBase: 16px;
$lineHeightBase: 1.2;

// Load font files from local file
$fontFamilies: ();

$primaryFont: 'opensans', 'Helvetica', 'Arial', sans-serif;
$secondaryFont: 'aleo', 'Helvetica', 'Arial', sans-serif;

$fs: (
		xs: 11px,
		s: 16px,
		m: 22px,
		xm: 28px,
		l: 32px,
		xl: 48px
);

@mixin fs($t) {
	@if (strip-units($t) == 0) {
		font-size: 0;
	} @else {
		font-size: $t;
		font-size: rem($t);
	}
}
