/**
 * Library
 */

@import 'scss/utils/mixins';
@import 'scss/placeholders';
@import 'scss/vendor/reset';

@import 'scss/main';

@import 'scss/background-colors';
@import 'scss/buttons';
@import 'scss/forms';
@import 'scss/helpers';
@import 'scss/layout';
@import 'scss/loading-bar';
@import 'scss/loading-spinner';
@import 'scss/rating-circle';
@import 'scss/tables';
@import 'scss/tabs';
@import 'scss/tags';
@import 'scss/typography';

@if $flexboxgrid {
  @import 'scss/flexboxgrid';
}@else {
  @import 'scss/bootstrapgrid';
}
