/**
 *  BUTTONS
 */

// reset default buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button {
  background-color: $bg-button;
  border: $bd-button;
  border-radius: $bdr-button;
  color: $c-button;
  display: inline-block;
  font-family: $ff-button;
  font-size: $fz-button;
  font-weight: $fw-button;
  line-height: $lh-button;
  margin: $m-button;
  padding: $p-button;
  text-align: center;
  text-decoration: none;
  text-transform: $tt-button;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;

  &--big {
    font-size: $fz-button-big;
    padding: $p-button-big;
  }

  &--small {
    font-size: $fz-button-small;
    padding: $p-button-small;
  }

  &:focus,
  &:hover,
  &:active {
    color: $c-button;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }

  // colors
  &--primary {
    background-color: $c-primary;
    border: 1px solid $c-primary;
    color: $c-white;

    &:hover {
      color: $c-white;
    }
  }

  &--secondary {
    background-color: $c-secondary;
    border: 1px solid $c-secondary;
    color: $c-white;

    &:hover {
      color: $c-white;
    }
  }

  &--white {
    background-color: $c-white;
    border: 1px solid $c-white;
    color: $c-primary;
  }

  &--green {
    background-color: $c-success;
    border-color: $c-success;
    color: $c-white;
  }

  &--red {
    background-color: $c-error;
    border-color: $c-error;
    color: $c-white;
  }

  // types
  &--outlined {
    background-color: transparent;
    border: 1px solid $c-primary;
    color: $c-primary;
  }

  &--disabled {
    cursor: default;
    opacity: .4;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid transparent;
  }
}
