/**
* Buttons
*/

@function getButtonBorderRadius($meta) {
  @return ((map-get($meta, fontSize) * map-get($meta, lineHeight))  + (map-get($meta, paddingTB) * 2)) * $button-border-radius;
}

// reset default buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button {
  $buttonMeta: map-get($button-sizes, normal);

  background-color: $button-color;
  border: 1px solid $button-border-color;
  border-radius: getButtonBorderRadius($buttonMeta);
  color: $text-color;
  display: inline-block;
  font-family: $basefont;
  font-size: map-get($buttonMeta, fontSize);
  font-weight: 700;
  line-height: #{map-get($buttonMeta, lineHeight)}em;
  margin: 10px;
  padding: map-get($buttonMeta, paddingTB) map-get($buttonMeta, paddingLR);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
  white-space: nowrap;

  &:focus, &:hover, &:active {
    color: $text-color;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  // Sizes
  &.button {
    &-big {
      $buttonMeta: map-get($button-sizes, big);

      font-size: map-get($buttonMeta, fontSize);
      line-height: #{map-get($buttonMeta, lineHeight)}em;
      padding: map-get($buttonMeta, paddingTB) map-get($buttonMeta, paddingLR);

      border-radius: getButtonBorderRadius($buttonMeta);

      @include breakpoint(bp-large) {
        padding: map-get($buttonMeta, paddingTB) (map-get($buttonMeta, paddingLR) + 10px);
      }
    }

    &-small {
      $buttonMeta: map-get($button-sizes, small);

      font-size: map-get($buttonMeta, fontSize);
      line-height: #{map-get($buttonMeta, lineHeight)}em;
      padding: map-get($buttonMeta, paddingTB) map-get($buttonMeta, paddingLR);

      border-radius: getButtonBorderRadius($buttonMeta);
    }

    &-huge {
      $buttonMeta: map-get($button-sizes, huge);

      font-size: map-get($buttonMeta, fontSize);
      line-height: #{map-get($buttonMeta, lineHeight)}em;
      padding: map-get($buttonMeta, paddingTB) map-get($buttonMeta, paddingLR);

      border-radius: getButtonBorderRadius($buttonMeta);

      @include breakpoint(bp-large) {
        $buttonMeta: map-get($button-sizes, hugeLg);

        font-size: map-get($buttonMeta, fontSize);
        line-height: #{map-get($buttonMeta, lineHeight)}em;
        padding: map-get($buttonMeta, paddingTB) map-get($buttonMeta, paddingLR);

        border-radius: getButtonBorderRadius($buttonMeta);
      }

      i {
        font-size: 20px;
      }
    }

    &-large {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 320px;
      width: 100%;
    }
  }

  // colors
  &.button-primary {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-secondary {
    background-color: $brand-secondary;
    border: 1px solid $brand-secondary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-transparent {
    background-color: transparent;
    border: 1px solid transparent;
  }

  &.button-white {
    background-color: $white;
    border: 1px solid $white;
    color: $brand-primary;
  }

  &.button-green {
    background-color: $color-success;
    border-color: $color-success;
    color: $white;
  }

  &.button-red {
    background-color: $color-error;
    border-color: $color-error;
    color: $white;
  }

  // types
  &.button-outlined {
    background-color: transparent;
    border: 1px solid $brand-primary;
    color: $brand-primary;
  }

  &.button-disabled {
    cursor: default;
    opacity: .4;
  }

  &.button-only-icon {
    height: 43px;
    padding: 0;
    width: 43px;

    i {
      margin: 0;
    }
  }

  // icons on buttons
  i {
    bottom: -2px;
    font-size: 12px;
    margin-left: .8em;
    margin-right: .8em;
    position: relative;
    transition: all .3s ease;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &::before {
      float: left;
    }
  }
}

.button-link {
  color: $brand-primary;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  i {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 8px;
    transition: all .3s ease;

    &::before {
      float: left;
    }
  }
  // (animation rotating icon)
  &.button-link-rotated {
    i {
      transform: rotate(-180deg);
    }
  }
}

// button group
.button-group {
  white-space: nowrap;

  .button {
    $buttonMeta: map-get($button-sizes, normal);

    border-radius: 0;
    border-right: 0;
    display: inline-block;
    margin: 0;

    &:first-child {
      border-bottom-left-radius: getButtonBorderRadius($buttonMeta);
      border-top-left-radius: getButtonBorderRadius($buttonMeta);
    }

    &:last-child {
      border-bottom-right-radius: getButtonBorderRadius($buttonMeta);
      border-top-right-radius: getButtonBorderRadius($buttonMeta);
    }

    @each $meta in (big, small) {
      &-#{$meta} {
        $buttonMeta: map-get($button-sizes, $meta);

        &:first-child {
          border-bottom-left-radius: getButtonBorderRadius($buttonMeta);
          border-top-left-radius: getButtonBorderRadius($buttonMeta);
        }

        &:last-child {
          border-bottom-right-radius: getButtonBorderRadius($buttonMeta);
          border-top-right-radius: getButtonBorderRadius($buttonMeta);
        }
      }
    }

    &-huge {
      $buttonMeta: map-get($button-sizes, huge);

      &:first-child {
        border-bottom-left-radius: getButtonBorderRadius($buttonMeta);
        border-top-left-radius: getButtonBorderRadius($buttonMeta);

        @include breakpoint(bp-large) {
          $buttonMeta: map-get($button-sizes, hugeLg);

          border-bottom-left-radius: getButtonBorderRadius($buttonMeta);
          border-top-left-radius: getButtonBorderRadius($buttonMeta);
        }
      }

      &:last-child {
        border-bottom-right-radius: getButtonBorderRadius($buttonMeta);
        border-top-right-radius: getButtonBorderRadius($buttonMeta);

        @include breakpoint(bp-large) {
          $buttonMeta: map-get($button-sizes, hugeLg);

          border-bottom-right-radius: getButtonBorderRadius($buttonMeta);
          border-top-right-radius: getButtonBorderRadius($buttonMeta);
        }
      }
    }
  }
}
