/**
 * FORMS
 */


// prevent input default appearence on webkit
input,
textarea {
  appearance: none;
}

label {
  display: block;
  font-weight: normal;

  &.label {
    @extend .text-grey;
    @extend .text-small;
  }
}

// Disable webkit background color
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px $form-bg-color inset;
}

// radius
select,
input[type=text],
textarea {
  border-radius: $radius;
  font-size: $font-size-base;
  line-height: 1.5em;

  @include breakpoint(bp-medium) {
    font-size: $font-size-base-medium;
  }

  @include breakpoint(bp-large) {
    font-size: $font-size-base-large;
  }
}

// styles
.textarea,
.input,
.select {
  //border:1px solid $blue-light;
  border: 0;
  border: 1px solid $border-color;
  border-radius: $radius;
  box-shadow: none;
  display: block;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 7px 10px;

  @include breakpoint(bp-medium) {
    padding: 9px 15px;
  }

  :focus {
    outline: none;
  }

  &.error {
    border: 1px solid $color-error;
    margin-bottom: 0; // we will display an error message
  }

  &.small {
    font-size: 13px;
    padding: 4px 6px;
  }
}

/* Error handling (deprecated?)*/
.has-error {
  .textarea,
  .input,
  .select {
    border: 1px solid $brand-primary;
  }
}

/* temporally used in mobonaut checkout*/
.has-error .control-label {
    color:$brand-primary;
}

/* Error handling in mobonaut checkout */
label.error {
  color: $color-error;
  font-size: 13px;
  line-height: 13px;
  position: absolute;
  right: 0;
  top: -16px;
}

input[type=checkbox] {
  appearance: checkbox;
}

input[type=radio] {
  appearance: radio;
}


// Select
.select {
  background-color: $form-bg-color;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  position: relative;

  &.full-width {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

  // font awesome angle
  .fa-angle-down {
    color: $text-grey;
    font-size:  25px;
    height: 30px;
    margin-top: -12px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index:  1;
  }

  // Az angle
  .icon-angle-down {
    color: $brand-primary;
    font-size: 1.2em;
    height: 30px;
    margin-top: -10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
  }

  select {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: $form-text-color;
    height: 44px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    width: 100%;
    z-index: 2;
    appearance: none;

    @include breakpoint(bp-medium) {
      padding: 8px 15px;
    }

    &:active,
    &:focus {
      background-color: lighten($form-bg-color, 5%);
      border: 0;
      outline: none;
    }

    &:active + i,
    &:focus + i{
      z-index:2;
    }

    option {
      background-color: $form-bg-color;
      color: $form-text-color;
      height: 30px;
    }
  }

  &.select-small {
    max-width: 150px;

    select {
      font-size: 14px!important;
      height: 24px;
      line-height: 24px;
      padding: 0 5px;
      padding-right: 27px;
    }
  }
}

select::-ms-expand {
  display: none;
}

.select-link {
  border: 0;
  color: $brand-primary;
}

// textarea
.textarea {
  background-color: $table-bg-color;
  padding: 0;
  width: 100%;

  textarea {
    background: transparent;
    border: 0;
    color: $form-text-color;
    display: block; // prevent small margin at the bottom of textarea
    font-family: $basefont;
    padding: 10px 15px;
    width: 100%;

    &:focus,
    &:active {
      border: 0;
      outline: none;
      background-color: lighten($form-bg-color, 5%);
    }
  }
}

textarea {
  min-height: 120px;
}

// textarea with user
.textarea-with-user {
  padding-bottom: 45px;
  position: relative;

  .textarea-user-loged {
    bottom: 0;
    left: 10px;
    opacity: .7;
    position: absolute;
    right: 0;
    transition: opacity .25s ease-in-out;
  }

  & textarea:focus ~ .textarea-user-loged {
    opacity: 1;
  }
}

.form-button-wrap {
  text-align: center;

  @include breakpoint(bp-medium) {
    text-align: right;
  }
}

/**
 *   Checkbox and Radio buttons
 *
    <div class="radio">
       <input id="name{{$i}}" name="holaquetal" type="radio" value=""/>
       <label for="name{{$i}}" >option {{$i}}</label>
     </div>

     <div class="checkbox">
       <input id="name{{$i}}" name="keywords" type="checkbox" value=""/>
       <label for="name{{$i}}">option {{$i}}</label>
     </div>
 *
 **/

.checkbox,
.radio {
  margin: 0;
  margin-bottom: 5px;
  margin-right: 20px;
  padding-left: 25px;
  position: relative;
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  overflow: hidden;
  padding-left:  5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


input[type=checkbox] { display: none; } /* hide the checkbox itself */
input[type=radio] { display: none; } /* hide the checkbox itself */

input[type=checkbox] + label:after,
input[type=checkbox] + label:before,
input[type=radio] + label:after,
input[type=radio] + label:before {
  display: block;
  position: absolute;
  font-size:14px;
  height: 18px;
  line-height:  18px;
  margin-top: -9px;
  top: 50%;
  width: 18px;
  left:0;
}

/* unchecked checkbox and radio icon */
input[type=checkbox] + label:after,
input[type=radio] + label:after {  
  background-color: $form-bg-color;
  border: 1px solid $border-color;
  border-radius: $radius;
  content: '';
}

/* radio icon */
input[type=radio] + label:after { 
  border-radius: 99px;
}

/* icon */
input[type=checkbox] + label:before{
  content: "\f00c";
  font-family: FontAwesome;
  left: 2px;
  top: 11px;
  transform: scale(0);
  z-index: 1;
  
}
input[type=radio] + label:before { 
  background-color: $brand-primary;
  border-radius: 99px;
  content: '';
  display: block;
  height: 8px;
  left: 5px;
  margin-top: -4px;
  top: 50%;
  transform: scale(0);
  width: 8px;
  z-index: 1;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label{
  color: $brand-primary;
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before{
  animation: radioAndCheckboxAnimation .250s;
  transform: scale(1);
  color: $brand-primary;
}

@keyframes radioAndCheckboxAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }   
}



// inputs

.input {
  background-color: $form-bg-color;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  position: relative;

  :focus,
  :active {
    background-color: lighten($form-bg-color, 5%);
  }

  &.full-width {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  input {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: $form-text-color;
    height: 44px;
    line-height: 44px;
    margin-bottom: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    @include breakpoint(bp-medium) {
      padding: 8px 15px;
    }
  }
}


// input with icon

.input-with-icon {
  position: relative;

  input {
    padding-right: 42px;
  }

  .input-icon {
    color: $text-grey;
    margin-top: -6px;
    position: absolute;
    right: 12px;
    top: 50%;

    &.fa-search {
      color: $brand-primary;
      margin-top: -7px;
    }
  }

  // button styles (pe. search)
  button.input-icon {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}

// input icon

.input-icon {
  input {
    padding: 0;
    width: 0;
  }

  i {
    padding: 14px 15px 14px 12px;
  }
}


/**
 * Input group
 *
 * <div class="input-group {{ $errors->first('email', 'has-error') }}">
 *     <div class="input full-width ">
 *         <input type="email" class="form-control" name="email" placeholder="email address" value="{{{ Input::old('email') }}}">
 *     </div>
 *     <span class="help-block">{{ $errors->first('email', ':message') }}</span>
 * </div>
 *
 **/

.input-group {
  margin-bottom: 20px;

  .textarea,
  .input,
  .select {
    margin-bottom: 0;
  }
}

/**
 * Form group
 *
  <div class="form-group">
    <div class="input form-group-item">
      <input type="text" name="" id="" placeholder="Search an app and start tracking...">
    </div>
    <div class="select form-group-item">
      <select class="class">
        <option value="asd">asd</option>
        <option value="asfdasd">asfdasd</option>
      </select>
      <i class="js-select-opener fa fa-angle-down fa-2"></i>
     </div>
  </div>
**/


.form-group {
  background-color: $form-bg-color;
  border: 1px solid #ddd;
  border-radius: $radius;
  display: inline-block;
  margin-bottom: 20px;

  .textarea,
  .input,
  .select {
    margin-bottom: 0;
  }

  .form-group-item {
    border: 0;
    border-radius: 0;
    //border-right: 1px solid #ddd;
    margin-right: 0;

    &:last-child {
      border-right: 0;
    }
  }
}

// forms in row (reduce space between bootstrap columns)
.form-row {
  margin-left: -3px!important;
  margin-right: -3px!important;
}

.form-row div[class^="col"] {
  padding-left: 3px;
  padding-right: 3px;
}
/**
 * form collapse (items without gap between them)
 *
  <div class="form-collapse">
    <div class="input item item-main">
      <input id="name" placeholder="Klingon search" type="text" />
    </div>
    <div class="select item">
      <select name="country-code" id="country-code">
        <option value="AO"> Angola</option>
      </select>
      <i class="fa fa-angle-down fa-2"></i>
    </div>
    <button class="item button button-primary">
      Search
    </button>
  </div>
**/

.form-collapse {
  display: flex;
  margin-bottom:20px;

  .item-main {
    flex: 1;
  }

  .item {
    border-radius: 0;
    font-size: 15px;
    margin: 0;

    &:first-child {
      border-bottom-left-radius: $radius;
      border-top-left-radius: $radius;
    }

    &:last-child {
      border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }
}
