/**
 *  FLEX ALIGNMENTS
 */

// container
.aligner {
  display: flex;
}

.aligner-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aligner-space-around {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.aligner-center-vertical {
  align-items: center;
  display: flex;
}

.aligner-center-horitzontal {
  display: flex;
  justify-content: center;
}

.content-start {
  display: flex;
  justify-content: flex-start;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

// item
.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 1;
}


/**
 *  ALIGNMENTS
 */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix {
  ::after {
    clear: both;
    content: '';
    display: table;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/**
 *  OTHERS
 */

.no-margin {
  margin: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-low {
  opacity: .5;
}

.rounded-corners {
  border-radius: 15%;
}

.rounded {
  border-radius: 100%;
}
