/**
 *  FLEX ALIGNMENTS
 */

// container
.aligner {
  display: flex;
}

.aligner-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aligner-space-around {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.aligner-center-vertical {
  align-items: center;
  display: flex;
}

.aligner-center-horitzontal {
  display: flex;
  justify-content: center;
}

.content-start {
  display: flex;
  justify-content: flex-start;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

// item
.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 1;
}


/**
 *  ALIGNMENTS
 */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.cf {
  @include clearfix();
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}


.align-bottom {
  vertical-align: bottom;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}


/**
 *  TEXT UTILITIES
 */

.ellipsis {
  @include ellipsis();
}

.ellipsis-block {
  @include ellipsis();
  display: block;
}

.word-break {
  word-break: break-all;
}

.text-indent {
  padding-left: $gutterwidth;
}


/**
 *  MODIFIERS
 */

.display-block {
  display: block;
}

.block-mobile {
  @include media-breakpoint-down(md) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; // useful for buttons
  }
}

.display-inline {
  display: inline;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0!important;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-low {
  opacity: .5;
}


// deprecated ".icon-rounded". Use rounded-corners instead.
.icon-rounded,
.rounded-corners {
  border-radius: 15%;
}

.rounded {
  border-radius: 100%;
}


/**
 *  VISIBILITY UTILITIES
 */

.hidden-large {

  @include media-breakpoint-up(lg) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    display: inline-block;
  }
}

.hidden-medium {

  @include media-breakpoint-up(md) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
}

.show-small {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.hide-small {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.hide-small-inline-block {
  display: none!important;

  @include media-breakpoint-up(md) {
    display: inline-block!important;
  }
}

.hide-medium {
  display: block;

  @include media-breakpoint-up(md) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
}
