/**
 * Loading bar
 *
 * Markdown:
 * ---------
 * <div class="loading-bar"></div>
 *
 */

.loading-bar {
  height: 4px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.loading-bar::before {
  animation: loading 2s linear infinite;
  background-color: $brand-primary;
  content: '';
  display: block;
  height: 4px;
  left: -200px;
  position: absolute;
  width: 200px;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
