/**
 *  Rating circle
 */


.rating-circle {
  $circle-size: 100px;
  $circle-inset-size: 94px;
  $circle-size-big: 130px;
  $circle-inset-size-big: 124px;
  $circle-background: #d6dadc;
  $inset-color: $rating-bg;
  $transition-length: 1s;
  $shadow: 6px 6px 10px rgba(0,0,0,.2);
  background-color: #d7d7d7;
  border-radius: 50%;
  display: inline-block;
  height: $circle-size;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: $circle-size;

  @include breakpoint(bp-medium) {
    margin: 0;
    margin-left: 10px;
  }

  @include breakpoint(bp-large) {
    height: $circle-size-big;
    width: $circle-size-big;
  }

  &.rating-color-1 {  @include circle-color($rating1); }
  &.rating-color-2 {  @include circle-color($rating2); }
  &.rating-color-3 {  @include circle-color($rating3); }
  &.rating-color-4 {  @include circle-color($rating4); }
  &.rating-color-5 {  @include circle-color($rating5); }
  &.rating-color-6 {  @include circle-color($rating6); }
  &.rating-color-7 {  @include circle-color($rating7); }
  &.rating-color-8 {  @include circle-color($rating8); }
  &.rating-color-9 {  @include circle-color($rating9); }
  &.rating-color-10 {  @include circle-color($rating10); }

  .circle {
    .circle-mask,
    .circle-fill {
      border-radius: 50%;
      height:   $circle-size;
      position: absolute;
      transition: all $transition-length;
      width:    $circle-size;

      @include breakpoint(bp-large) {
        height: $circle-size-big;
        width: $circle-size-big;
      }

    }

    .circle-mask,
    .circle-fill {
      backface-visibility: hidden;

      &.reanimate {
        transition: transform 0s;
      }

      &.reset {
        transform: rotate(0deg) !important;
      }
    }

    .circle-mask {
      clip: rect(0, $circle-size, $circle-size, $circle-size / 2);
      overflow: hidden;

      @include breakpoint(bp-large) {
        clip: rect(0, $circle-size-big, $circle-size-big, $circle-size-big / 2);
      }

      .circle-fill {
        clip: rect(0, $circle-size / 2, $circle-size, 0);

        @include breakpoint(bp-large) {
          clip: rect(0, $circle-size-big / 2, $circle-size-big, 0);
        }
      }
    }
  }

  .circle-inset {
    background-color: $rating-bg;
    border-radius: 50%;
    height: $circle-inset-size;
    left: 50%;
    margin-left: -$circle-inset-size / 2;
    margin-top: -$circle-inset-size / 2;
    position: absolute;
    text-align: center;
    top: 50%;
    width: $circle-inset-size;

    @include breakpoint(bp-large) {
      height: $circle-inset-size-big;
      line-height: $circle-inset-size-big;
      margin-left: -$circle-inset-size-big / 2;
      margin-top: -$circle-inset-size-big / 2;
      width: $circle-inset-size-big;
    }

    .circle-rating-number {
      font-size: 36px;
      font-weight: normal;
      line-height: $circle-inset-size;

      @include breakpoint(bp-large) {
        font-size: 50px;
        line-height: $circle-inset-size-big;
      }
    }
  }

  span {
    //opacity: 0;
  }
}
// small circle
.rating-circle.circle-small {
  width: 80px;
  height: 80px;

  .circle {
    .circle-mask,
    .circle-fill {
      height: 80px;
      width: 80px;
    }
  }

  .circle-mask {
    clip: rect(0, 80px, 80px, 40px);

    .circle-fill {
      clip: rect(0, 40px, 80px, 0);
    }
  }

  .circle-inset {
    border-radius: 50%;
    height: 74px;
    left: 50%;
    margin-left: -37px;
    margin-top: -37px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 74px;

    .circle-rating-number {
      font-size: 24px;
      font-weight: 400;
      left: 0;
      line-height: 74px;
      margin: 0!important;
      position: absolute;
      top: 0;
      width: 74px;
    }
  }
}


 // rotations

$rotation-rating-1 :  18deg;
$rotation-rating-2 :  36deg;
$rotation-rating-3 :  54deg;
$rotation-rating-4 :  72deg;
$rotation-rating-5 :  90deg;
$rotation-rating-6 :  108deg;
$rotation-rating-7 :  126deg;
$rotation-rating-8 :  144deg;
$rotation-rating-9 :  162deg;
$rotation-rating-10 : 180deg;


.rating-color-1 .circle-fill,
.rating-color-1 .circle-full, {  transform: rotate($rotation-rating-1); }
.rating-color-2 .circle-fill,
.rating-color-2 .circle-full {  transform: rotate($rotation-rating-2);}
.rating-color-3 .circle-fill,
.rating-color-3 .circle-full {  transform: rotate($rotation-rating-3);}
.rating-color-4 .circle-fill,
.rating-color-4 .circle-full {  transform: rotate($rotation-rating-4);}
.rating-color-5 .circle-fill,
.rating-color-5 .circle-full {  transform: rotate($rotation-rating-5);}
.rating-color-6 .circle-fill,
.rating-color-6 .circle-full {  transform: rotate($rotation-rating-6);}
.rating-color-7 .circle-fill,
.rating-color-7 .circle-full {  transform: rotate($rotation-rating-7);}
.rating-color-8 .circle-fill,
.rating-color-8 .circle-full {  transform: rotate($rotation-rating-8);}
.rating-color-9 .circle-fill,
.rating-color-9 .circle-full {  transform: rotate($rotation-rating-9);}
.rating-color-10 .circle-fill,
.rating-color-10 .circle-full {  transform: rotate($rotation-rating-10);}


