/**
 *  TYPOGRAPHY
 */

body {
  color: $c-body;
  font-family: $ff-body;
  font-size: $fz-body;
  font-weight: $fw-body;
  line-height: $lh-body;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: $c-primary;
  text-decoration: none;

  &:hover {
    color: rgba($c-primary, .8);
  }

  &:focus {
    color: $c-primary;
  }
}

.text {
  &-huge, &-big, &-medium {
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  &-huge {
    font-size: $fz-huge;
  }

  &-big {
    font-size: $fz-big;
  }

  &-medium {
    font-size: $fz-medium;
  }

  &-small {
    font-size: $fz-small;
  }

  // force element to default font state.
  &-body {
    font-size: $fz-body;
    line-height: $lh-body;
  }
}

// Styles
.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-line-through {
  text-decoration: line-through;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

.text-center {
  text-align: center;
}

.text-lato {
  font-family: 'Lato', sans-serif;
}

// titles after titles
.text-with-subtitle {
  margin-bottom: 0!important;

  + .text-huge,
  + .text-big,
  + .text-medium,
  + .text-small, {
    margin-top: .5em;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $heading-weight;
}
